{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{super()}}
{% endblock %}

{% block content %}
<div class="row">
	<div class="medium-12 columns">
	<h2>{{title}}</h2>
	</div>
</div>
<div class="row">
    <div class="medium-3 columns">
    	<ul class="menu vertical cat-menu">
    		<li><a href="{{url_for('category_edit', id = category.id )}}">Go Back..</a></li>
		</ul>
    </div>
  <div class="medium-6 columns">
  	  	<form method="post" action="{{url_for('category_remove', id = category.id )}}">
		  <div class="row">
		    <div class="medium-12 columns">
		        <h4>Are you sure you want to remove: "{{category.name}}"?</h4>
		        <br />
		    </div>
		    
		  </div>
		  <div class="row">
		  	<div class="medium-12 columns">
		  	<button type="submit" class="button alert">Yes remove!</button>
		  	</div>
		  </div>
		</form>
  </div>
  <div class="medium-3 columns">
  </div>  	
</div>
{% endblock %}

