{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{{super()}}
{% endblock %}

{% block content %}
<div class="row">
	<div class="medium-12 columns">
	<h2>{{title}}</h2>
	</div>
</div>
<div class="row">
    <div class="medium-3 columns">
    	<ul class="menu vertical cat-menu">
    		<li><a href="{{url_for('items_new')}}"><strong>New Item</strong></a></li>
    		<li><a href="{{url_for('category_new')}}"><strong>New Category</strong></a></li>
    		{% for category in categories_menu %}
		    <li><a href="{{url_for('category_edit', id = category.id )}}"><span>{{ category.name }} </span> <small>(edit)</small></a></li>
		    {% endfor %}
		</ul>
    </div>
  <div class="medium-6 columns">
  	  	<form method="post" action="{{url_for('items_new')}}" enctype="multipart/form-data">
		  <div class="row">
		  	<div class="medium-12 columns">
		        <select  name="category" >
		        	<option value="" selected>--Choose a Category--</option>
		        	{% for category in categories_list%}
		        	<option value="{{category.id}}">{{category.name}}</option>
		        	{% endfor %}
		        </select>
		    </div>
		    <div class="medium-12 columns">
		        <input type="text" name="name"  placeholder="Name">
		    </div>
		    <div class="medium-12 columns">
		        <input type="text" name="description" placeholder="Description">
		    </div>
		    <div class="medium-3 columns">
		        <input type="number" step="0.01" min="0" name="price" placeholder="Price">
		    </div>
		    <div class="medium-12 columns">
		    	<label> Item's image
		        <input type="file" name="image">
		        </label>
		    </div>
		  </div>
		  <div class="row">
		  	<div class="medium-12 columns">
		  	<button type="submit" class="button warning">Add Item</button>
		  	</div>
		  </div>
		</form>
  </div>
  <div class="medium-3 columns">
  </div>  	
</div>
{% endblock %}

